include *.txt *.ini *.cfg *.rst *.json *.yaml
recursive-include pyramid_describe *.ico *.png *.gif *.jpg
recursive-include pyramid_describe *.less *.css *.js *.html *.pt *.mak *.mako
recursive-include pyramid_describe *.json *.yaml *.xml
recursive-include doc example.*
