body {
  padding: 2em;
}

.section {
  padding-left: 30px;
}

.section > .section-title {
  margin-left: -30px;
}

.document > .section > .section-title {
  margin-top: 0;
}

.document > .section {
  padding-left: 0;
}

.document > .section > .section-title {
  margin-left: 0;
}

#section-legend {
  font-size: 70%;
  margin-top: 5em;
  border-top: 2px solid #e0e0e0;
  padding-top: 1em;
}
